/* #chessboard{
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    background-color: #202020;
}
#chessboard .tile{
    width: 100px;
    height: 100px;
    position:relative;
}
#chessboard .black-tile{
    background-color: #749858;
}

#chessboard .black-tile-text{
color: #edefd3; 
}
.text-in{
padding-left: 3px;
font-size: 14px;
}
.bottom-box{
    position: absolute;
    bottom: 3px;
    right: 3px;
}
#chessboard .white-tile-text{
color: #749858;     
}

#chessboard .white-tile-text{
    background-color: #edefd3;
} */
#chessboard{
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    background-color: #202020;
}
/* #edefd3 */
.pawn-promotion-model{
    /* this is our overlay to prevent any bg activity */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.pawn-promotion-model.hidden{
    display: none;
}
.pawn-promotion-model > .model-body{
    position: absolute;
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: calc(50% - 150px);
    left: calc(50% - 400px);
    background-color: rgb(0,0,0,0.6);
}
.pawn-promotion-model > .model-body > img{
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}   
.pawn-promotion-model > .model-body > img:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
}  