.tile{
    width: 100px;
    height: 100px;
    /* position:relative; */
    display: grid;
    place-content: center;
}
.black-tile{
    background-color: #749858;
}
.tile .chess-piece{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}
.tile .chess-piece:hover{
    cursor: grab;   
}
.tile .chess-piece:active{
    cursor: grabbing;   
}
.black-tile-text{
color: #edefd3; 
}
.text-in{
padding-left: 3px;
font-size: 14px;
}
.bottom-box{
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.top-box{
    position: absolute;
    top: 3px;
    left: 3px;
}
.white-tile-text{
color: #749858;     
}
.tile .chess-piece-image {
    width: 80px;
}
.white-tile{
    background-color: #edefd3;
}
.tile-highlight::before{
    content: " ";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
}
/* #edefd3 */