#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    background-color: blue;
}

.modal {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.modal.hidden {
    display: none;
}

.modal > .modal-body {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 400px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 800px;
    background-color: rgb(0,0,0,0.6);
}

.modal > .modal-body > img {
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

.modal > .modal-body > img:hover {
    /* background-color: rgba(255, 255, 255, 0.6); */
    cursor: pointer;
    width: 92px;
    height: 92px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}
.modal > .modal-body > .checkmate-body{
    display: flex;
    flex-direction: column;
    gap:48px;
}
.modal > .modal-body > .checkmate-body > span{
    font-size: 32px;
    color: rgba(255, 255, 255, 0.9);
}
.modal > .modal-body > .checkmate-body > button{
    background-color: #779556;
    color: white;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    border: none;
}
.modal > .modal-body > .checkmate-body > button:hover{
    cursor: pointer;
    background-color: #57703d;
}